<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세</title>
</head>

<body>
    <!-- ✅ Main Content -->
    <main id="main">
            <h2 class="page-title">게시글 상세보기</h2>

            <div class="board-detail-wrap">

                <form id="form" action="/boards/delete" method="post">
                    <input type="text" name="boardId" th:value="${board.boardId}">
                    <!-- 카테고리 -->
                    <div class="board-category">
                        <span class="meta-category">카테고리 : <span th:text="${board.category}"></span></span>
                    </div>
                    <!-- 제목 -->
                    <div class="board-title">
                        <h3 th:text="${board.title}">게시글 제목입니다.</h3>
                    </div>
                    <!-- 메타 정보 -->
                    <div class="board-meta">
                        <span class="meta-writer">작성자: <strong th:text="${board.writer}">홍길동</strong></span>
                        <span class="meta-date">작성일: <span th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}"></span></span>
                        <span class="meta-views">조회수: <span th:text="${board.viewCount}"></span></span>
                    </div>

                    <!-- 구분선 -->
                    <hr class="divider">

                    <!-- 본문 내용 -->
                    <div class="board-content">
                        <p th:text="${board.content}"></p>
                    </div>

                    <!-- 구분선 -->
                    <hr class="divider">

                    <!-- 버튼 영역 -->
                    <div class="board-btns">
                        <button type="button" onclick="moveList()">목록</button>
                        <button type="button" onclick="moveUpdate()">수정</button>
                        <button type="button" onclick="actionDelete()">삭제</button>
                    </div>
                </form>

            </div>
    </main>

    <script>

        let form = document.getElementById('form')

        // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
        let boardId = "[[${board.boardId}]]"

        // 수정 화면 이동
        function moveUpdate() {
            location.href = '/boards/update?boardId=' + boardId
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if (check) {
                form.action = '/boards/delete'
                form.submit()
            }
        }

        // 목록 화면 이동
        function moveList() {
            location.href = '/boards/list'
        }
    </script>

</body>

</html>